 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { 
margin:0; padding:0; 
}
body { 
background:#fff; 
color:#555;
font-size:14px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
}
td,th,caption { 
font-size:14px; 
}
h1, h2, h3, h4, h5, h6 { 
font-weight:normal; 
font-size:100%; 
}
address, caption, cite, code, dfn, em, strong, th, var { 
font-style:normal; 
font-weight:normal;
}
a { 
color:#555; 
text-decoration:none; 
}
a:hover { 
text-decoration:underline; 
}
img { 
border:none; 
}
ol,ul,li { 
list-style:none; 
}
input, textarea, select, button { 
font:14px Verdana,Helvetica,Arial,sans-serif; 
}
table { 
border-collapse:collapse; 
}
html {
overflow-y: scroll;
} 


	#container{
		height: 1000px；
		width:1200px;
		margin: 0 auto;
	}


	#welcome{
		display: block;
		margin: 0px;
	}
	#header{
		width: 1130px;
		height: 50px;
		margin-bottom: 2px;
		border: 35px groove purple;
		background: #f0f8f0;
	}
	#nav li{
		width: 187px;
		margin-left: 1px;
		float: left;
	}
	#nav a{
		color: black;
		font-size: 18px;
		font-family: '微软雅黑' '宋体' 'sans-serif';
		text-align: center;
		line-height: 50px;
		display: block;
		width: 187px;
	}
	#nav a:visited{
		color:gray;
	}
	#nav a:hover{
		color: white;
		background:orange;
	}
	

	#main{
		width: 1080px;
		height: 250px;
	}
	.class1{
		width: 240px;
		height: 130px;
		background: white;
		padding: 50px 10px;
		float: left ;
	}


	#footer{
		width: 1100px;
		height: 50px;
		background: silver;
		padding: 50px;
		clear: left;
	}
	#erweima{
		width: 300px ;
		height: 230px;
		background: white;
		background-image: url(qrcode.jpg);
		background-repeat: no-repeat;
		background-position: center;
		float:left;
	}


.clearfix:after {
content: "."; 
display: block; 
height:0; 
clear:both; 
visibility: hidden;
}
.clearfix { 
*zoom:1; 
}